@page "/"
@inject NavigationManager nv
@using Microsoft.AspNetCore.SignalR.Client;
@inject HubConnection hub

<h1>Live Telemetry</h1>

@if (!TopMessages.Any())
{
    <p><em>Waiting for data...</em></p>
}
else
{
    <ul>
        @foreach (var msg in TopMessages)
        {
            <li>@msg</li>
        }
    </ul>
}

@code {

    private List<string> messages = new();

    private List<string> TopMessages
    {
        get
        {
            if(messages.Count <= 10)
            {
                return messages;
            }
            int startIndex = messages.Count - 10;
            return messages.GetRange(startIndex, 10);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        hub.On<string, string>("Receive", (topic, payload) =>
        {
            messages.Add($"{DateTime.Now:T} {topic} -> {payload}");
            InvokeAsync(StateHasChanged);
        });

        await hub.StartAsync();
    }
}
